{% extends 'base.html.twig' %}

{% block title %}Détail de {{ movie.title }}{% endblock %}


{% block body %}
    {# {{  }} correspond à des var symfony #}
    {% if id > 500 %}

    {% else %}

    {% endif %}

    {# Créer variable #}
    {% set colors = ["blue", "red", "caca"] %}

    {# | filtre #}
    {% for color in colors %}
        {# {{ color|upper }} #}
        {# {{ color|length }} #}
    {% endfor %}

    {# you can read and display just one flash message type... #}
    {% for message in app.flashes('success') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

    <div class='twocol'>
        <div>
            <img class="full_poster" src="{{ asset('/posters/' ~ movie.getImage()) }}" />
        </div>
        <div>
            <div class="text_container">
                <div><h3>{{ movie.title }} directed by {{ movie.directors }}</h3></div>
                <div><h4>{{ movie.year }} - {{ movie.genres }} - {{ movie.actors }}</h4></div>
                <div><p>{{ movie.plot }}</p></div>

            </div>
            {% if movie.trailerId != null %}
            <div class="embed">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ movie.trailerId }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            {% endif %}
            <!--<div><p>{{ movie.dateCreated|date("d-m-Y") }}</p></div>-->
        </div>
    </div>
    <div class="reviews">
        <h2>Reviews</h2>
        {% for review in movie.reviews %}
            <div class="review">
                <div>{{ review.content }}</div>
                <div>Review postée par {{ review.username }}</div>
            </div>
        {% else %}
            <div>Pas encore de Review postée !</div>
        {% endfor %}
    </div>

    <a href="{{ path("review_create", {'id': movie.id}) }}">Ajoutez vous aussi votre fanstastique review.</a>
{% endblock %}

